/* This is the content of your external CSS file */

/* This style applies to the body element, setting the margin to 0 and using flexbox */
body {
    margin: 0;
    display: flex;
    height: 100vh;
}

/* This style applies to the left section */
.left {
    background-color: #C0C0C0;
    width: 20%; /* Increase the width to make the left section longer */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* This style applies to the right section, dividing it into two columns */
.right {
    background-color: lightgray;
    width: 80%; /* Decrease the width to make the right section longer */
    display: flex;
    flex-direction: column;
    padding: 2px;
    flex-grow: 1; /* Allow the right section to grow and fill the available space */
}

/* This style applies to images within the left section */
.responsive-image {
    width: 100%;
    height: auto;
    max-width: 150px;
    align-self: center;
}

/* This style applies to the caption below the image */
.image-caption {
    margin-top: 10px;
    font-size: 24px;
    align-self: center;
}

button {
    font-size: 15px;
    border-radius: 2px; 
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

/* Specific styles for the logout button */
.logout {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: right;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.logout:hover {
    background-color: darkred;
}

.right .top {
    background-color: lightgray;
    padding: 20px;
}

.top table {
    margin-left: auto;
}

#totalparking {
    font-size: 36px; /* Adjust the size as needed */
}

.top th {
    border: 1px solid black;
    padding: 10px;
}

.right .bottom {
    flex-grow: 1; /* Ensure the bottom div fills the remaining space */
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.bottom-content {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns layout */
    gap: 20px; /* Space between columns */
   
}