/* This style applies to the body element, setting the margin to 0 and using flexbox */
body {
    margin: 0;
    display: flex;
    height: 100vh;
}

/* This style applies to the left section */
.left {
    background-color: #C0C0C0;
    width: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* This style applies to the right section, dividing it into two columns */
.right {
    background-color: lightgray;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 2px;
    flex-grow: 1; /* Allow the right section to grow and fill the available space */
}

/* This style applies to images within the left section */
.responsive-image {
    width: 100%;
    height: auto;
    max-width: 150px;
    align-self: center;
}

/* This style applies to the caption below the image */
.image-caption {
    margin-top: 10px;
    font-size: 24px;
    align-self: center;
}

button {
    font-size: 15px;
    border-radius: 2px; 
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

/* Specific styles for the logout button */
.logout {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: right;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.logout:hover {
    background-color: darkred;
}

.right .top {
    background-color: lightgray;
    padding: 20px;
}

.top table {
    margin-left: auto;
}

.top th {
    border: 1px solid black;
    padding: 10px;
}

.right .bottom {
    flex-grow: 1; /* Ensure the bottom div fills the remaining space */
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-bottom {
    float: right;
    margin-top: 150px;
    width: 100%;
    height: auto;
    max-width: 200px;
}

div.bottom div {
    width: 100%;
    float: left;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .left {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .left img {
        order: 1;
        max-width: 100px;
        margin-bottom: 10px;
    }

    .image-caption {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .left p {
        order: 3;
        margin: 5px;
    }

    .right {
        width: 100%;
    }

    .responsive-image {
        max-width: 30%;
        align-self: center;
    }
}
