body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
    height: 700px;
}

h1 {
    margin-bottom: 20px;
}

.profile-picture {
    position: relative;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-picture button {
    position: absolute;
    top: 50%;
    left: 120%;
    transform: translateY(-50%);
}

.info {
    margin-bottom: 20px;
}

#loginbutton{
    width: 100%;
    padding: 10px;
    background-color: #4b0082;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.editButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#updateInfo {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#parkingpic{
    width: 150px;
}

#downloadbutton{
    width: 50%;
    padding: 10px;
    background-color: #4b0082;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

