
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}


.left {
    background-color: #C0C0C0;
    width: 20%; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
}


.right {
    background-color: lightgray;
    width: 80%; 
    display: flex;
    flex-direction: column;
    padding: 2px;
    flex-grow: 1; 
    position: relative; 
    height: 105vh; 
}


.responsive-image {
    width: 100%;
    height: auto;
    max-width: 150px;
    align-self: center;
}


.image-caption {
    margin-top: 10px;
    font-size: 24px;
    align-self: center;
}

button {
        font-size: 15px;
    border-radius: 2px; 
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}


.logout {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: right;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.logout:hover {
    background-color: darkred;
}

.right .top {
    background-color: lightgray;
    padding: 20px;
}

.top table {
    margin-left: auto;
}

#totalparking {
    font-size: 36px; 
}

.top th {
    border: 1px solid black;
    padding: 10px;
}

.right .bottom {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding: 20px; 
}


thead {
    background-color: white; 
    color: black; 
    font-weight: normal; 
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    font-weight: normal; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar label {
    margin-right: 10px;
}

.search-bar input {
    flex-grow: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#parking-id {
    display: flex;
    align-items: center;
}

#parking-id label {
    margin-right: 10px;
}